<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Family</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">


    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/lib/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/lib/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/lib/css/fontastic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/lib/css/style.default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/lib/css/custom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/lib/vendor/bootstrap-table/bootstrap-table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/plugin/lib/img/favicon.ico}" >




    <!-- Javascript Libs -->
    <script type="text/javascript" th:src="@{/plugin/lib/vendor/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/lib/vendor/popper/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/lib/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/lib/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/lib/vendor/bootstrap-table/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/lib/vendor/jquery-cookie/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/lib/vendor/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/lib/vendor/bootstrap-select/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/lib/js/front.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

</html>