<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header th:fragment="commonHeader">
    <title>Family</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/bootstrap/css/bootstrap-table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</header>

<div th:fragment="footer">
    <!-- Javascript Libs -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/bootstrap/js/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</div>
</html>