<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- 加载公共头部 与 公共CSS JS-->
<head th:replace="common/common :: common"></head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>学习项目</h1>
                  </div>
                  <p>学习使我进步，学习使我快乐</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form method="post" class="form-validate" action="/admin/login">
                    <div class="form-group">
                      <input id="login-username" type="text" name="adminName" required data-msg="请输入你的用户名" class="input-material">
                      <label for="login-username" class="label-material">登录用户名</label>
                    </div>
                    <div class="form-group">
                      <input id="login-password" type="password" name="adminPassword" required data-msg="请输入你的密码" class="input-material">
                      <label for="login-password" class="label-material">登录密码</label>
                    </div><button id="login" class="btn btn-primary">登录</button>
                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                  </form><a href="#" class="forgot-pass">忘记密码?</a><br><small>没有账户? </small><a href="register.html" class="signup">注册</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center"><p>Design by <a href="#" class="external">Bootstrapious</a></p></div>
    </div>
  </body>
</html>