<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- 加载公共头部 与 公共CSS JS-->
<head th:replace="common/common :: common"></head>
<!-- 加载专属Css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<body class="flat-blue sidebar-collapse">
<!-- 加载公共导航条 -->
<!--<div th:replace="common/navigation :: navigation" class="sidebar"></div>-->
<div class="content-container wrap">
    <div class="login login-blue">
        <div class="login-brand">
            <img th:src="@{/image/kodinger.jpg}" alt="logo">
        </div>
        <div class="login-wrapper">
            <div class="login-box login-login" id="loginBox">
                <div class="login-box-inner">
                    <form id="login">
                        <p id="loginTitleBox">用户登录</p>
                        <div class="login-group" id="nameBox">
                            <label>账号： <a id="showLoginButton" href="javascript:void(0)" class="login-back-link">登录</a></label>
                            <input type="text" autocomplete="current-name" name="name" class="login-input">
                        </div>
                        <div class="login-group password-group" id="passwordBox">
                            <label>密码： <a href="javascript:void(0)" class="forgot-link">忘记密码?</a></label>
                            <input type="password" name="password" autocomplete="current-password" class="login-input">
                        </div>
                        <button class="login-btn login-btn" id="submitButton">
                            登录
                        </button>
                        <div class="text-foot">
                           没有账号?点击 <a href="javascript:void(0)" class="register-link">注册</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="login-box login-register" id="registerBox">
                <div class="login-box-inner">
                    <form id="register">
                        <p>用户注册</p>
                        <div class="login-group">
                            <label>姓名：</label>
                            <input type="text" name="real_name" autocomplete="real_name" class="login-input">
                        </div>
                        <div class="login-group">
                            <label>账号：</label>
                            <input type="text" autocomplete="name" name="name" class="login-input">
                        </div>
                        <div class="login-group">
                            <label>密码：</label>
                            <input type="password" name="password" autocomplete="current-password" class="login-input">
                        </div>
                        <button class="login-btn">
                            提交注册
                        </button>

                        <div class="text-foot">
                            已经有账户?点击 <a href="javascript:void(0)" class="login-link">登录</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 加载公共页尾 -->
<footer class="footer" th:replace="common/navigation :: footer"></footer>
<!-- 加载专属JS -->
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>
