<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/common :: commonLoad"></head>
<script th:src="@{/js/authority/getAuthority.js}" charset="utf-8"></script>

<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <shiro:hasPermission name="/authority/getAuthorityList">
            <fieldset class="layui-elem-field layuimini-search" >
                <legend>搜索信息</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <a class="layui-btn" lay-submit="" lay-filter="data-search-btn">查看</a>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </shiro:hasPermission>
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn-expand">全部展开</button>
                <button class="layui-btn" id="btn-fold">全部折叠</button>
                <shiro:hasPermission name="/authority/addAuthorityPage">
                    <button class="layui-btn" id="btn-add">新增权限</button>
                </shiro:hasPermission>
            </div>
            <table id="menu-table" class="layui-table" lay-filter="menu-table"></table>
        </div>
    </div>
</div>
<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <shiro:hasPermission name="/authority/updateAuthorityPage">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    </shiro:hasPermission>
    <shiro:hasPermission name="/authority/deleteAuthority">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </shiro:hasPermission>

</script>
</body>
</html>