/* your styles go here */
html{overflow:hidden;}
html,body{
    height: 100%;
}
.height-all{
    height: 100%;
}
.height-page{
    height: 800px;
}
.empty{
    margin-left: 10px;
}
.top-empty{
    margin-top: 10px;
}